body {
background-color: #000;
background-image: url('../img/bg.jpg');
background-repeat: no-repeat;
color: #fff;
}
/*
.container-fluid {
  max-width:
}*/

.panel {
background: transparent;
}

header h1 img {
  max-width: 80%;
}

.nav {
  padding-top: 20px;
}

.navbar {
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.5);
}

.dates {
  background-color: white;
  color: black;
}

.showtimes {
  padding: 20px 0;
}

.dropdown {
  margin-bottom: 20px;
}


#tickets {
  background: rgba(255, 255, 255, 0.1);
  width: 90%;
  margin: auto;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
}
#tickets ul {
  margin: 0;
  padding: 0;
  overflow: auto;
}

#tickets li  {
  list-style: none;
  float: left;
  width: 44%;
  background: #DA7E25;
  color: #fff;
  text-shadow: none;
  text-align: center;
  margin: 3%;
  padding: 5px;
  border-bottom: 5px solid #AE651E;
}

#tickets h4 {
  margin-top: 0;
  text-align: center;
}
.article {
  border-bottom: 1px solid white;
  min-height: 250px;
}

.article img {
  margin-right: 15px;
}

.fakeButton {
  display: block;
  width: 25%;
  background: #DA7E25;
  color: #fff;
  text-shadow: none;
  text-align: center;
  margin: 3% 3% 175px 175px;
  padding: 5px;
  border-bottom: 5px solid #AE651E;
}




.f-two a {
  display: block;
  color: white;
}

.f-three a {
  display: block;
  color: white;
}


.footer {
  background: linear-gradient(#522109, #000);
  height: auto;
  margin-top: 25px;
}

@media screen and (min-width:481px) {

  header h1 img {
    max-width: 100%;
  }

  .f-one, .f-two, .f-three {
    float: left;
    width: 30.66%;
  }

  .f-two {
    margin: 0 4%;
  }

  .fakeButton {
    margin: 3% 3% 3% 175px;
  }
}
